body {
    background-color: #050505;
    color: #e5e5e5;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
    background: #3b82f6;
    border-radius: 4px;
}

.grid-bg {
    background-image: linear-gradient(rgba(59, 130, 246, 0.1) 1px, transparent 1px),
        linear-gradient(90deg, rgba(59, 130, 246, 0.1) 1px, transparent 1px);
    background-size: 40px 40px;
}

.title-scanlines {
    position: relative;
    display: inline-block;
}

.title-scanlines::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to bottom,
            rgba(255, 255, 255, 0) 50%,
            rgba(0, 0, 0, 0.3) 50%);
    background-size: 100% 4px;
    z-index: 20;
    pointer-events: none;
}

nav {
  width: 100%;         
  left: 0;
  top: 0;
}